body {
    background-color: #503e2c; /*Dark background color*/
    font-family: 'Open Sans', sans-serif; /*Use of Open Sans font*/
    color: #fff; /*Light text color*/
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1024px; /*Limiting the width of the container*/
    margin: 0 auto; /*Centering the container*/
    background-color: rgba(0, 0, 0, 0.8); /* Adding a semi-transparent black background color to the text container*/
    padding: 20px; /* Adding padding to the container*/
}

label,
input {
    font-size: 0.7rem;
    font-weight: bold;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

input {
    padding: 10px;
    margin-top: 10px;
}

#play-button,
#stop-button,
#load-button {
    background-color: #3498db; /* blue background*/
    color: #fff; /*white text color*/
    border: none; /* no border*/
    padding: 10px 20px; /* padding */
    cursor: pointer; /* cursor pointer*/
    transition: all 0.3s ease; /* transition effect*/
    text-shadow: 1px 1px #000; /* text-shadow effect*/
    font-size: 1rem;
    margin: 20px 20px 10px 0;
}

#play-button:disabled,
#stop-button:disabled,
#go-button:disabled {
    background-color: #ccc; /* Change the background color to a light gray */
    cursor: not-allowed; /* Change the cursor to "not-allowed" */
    color: #999; /* Change the text color to a darker gray */
    text-shadow: none; /*removing text-shadow effect*/
}

#stop-button {
    background-color: #db346e;
}

#play-button {
    background-color: #7fdb34;
}

#youtube-player-container {
    padding-top: 20px;
}

#player {
    width: 100%; /* Width of the youtube player*/
    height: 500px; /* Height of the youtube player*/
}

#consent-button {
    padding: 20px 40px; /* Increase the padding */
    font-size: 1.2em; /* Increase the font size */
    border-radius: 20px; /* Increase the border radius */
    background-color: #c0392b; /* Change the background color on hover */
    transform: scale(1.1); /* Add a scaling effect on hover */
    border: 5px solid #fff;
    border-top: 0px;
    border-bottom: 0px;
    margin: 40px;
    cursor: pointer;
    color: #fff;
}

.img-desc {
    color: #777;
    font-size: 1rem;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    max-width: 100%;
    float: right;
}

#logo {
    margin-right: 20px;
    max-width: 10vw;
}

a {
    color: #eee;
}

a:visited {
    color: #ccc;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
